.about-us__item {
	border-bottom: 1px solid var(--secondary-color);
	border-radius: 4px;
}

.about-us__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	color: var(--pure-white-color);
	padding: 15px 25px;
	cursor: pointer;
	background-color: var(--main-color);
	transition: background-color 0.4s ease;
}

.about-us__title:hover {
	background-color: var(--light-color);
}
.about-us__description {
	padding: 15px;
	display: none;
	font-size: 16px;
}
@media (min-width: 992px) {
	.about-us__title,
	.about-us__description {
		font-size: 25px;
	}
}
