.hero-img {
	position: relative;
	padding: 200px 50px;
	background-image: var(--background-garadient),
		url('../img/Logo_Aqualuk/AQUALUK_logo_wersja_alternatywna_transparent_RGB_1000x672px.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}


