.offer-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.offer-list__item {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	font-size: 20px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 1s;
}
.offer-list__item:hover,
.offer-list__item:focus  {
	transform: scale(1.1);
}

.offer-list__item .bi {
	font-size: 35px;
	color: var(--secondary-color);
	margin: 20px;
	animation: fadeIn 2s ease-in-out;
}

.offer-list .offer-list__item:nth-of-type(even) .bi {
	color: var(--light-color);
}
.offer__box-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px auto;
	height: 200px;
	width: 70vw;
	justify-content: center;
	border: 1px solid var(--main-color);
	padding: 10px;
	
}
.offer__box-text a, .offer__box-text p{
	text-align: center;
	color: var(--main-color);
}
.offer__box-contact-icons {
	display: flex;
	list-style: none;
	padding: 20px;
}
.offer__box-contact-icon a {
	margin: 25px;
	font-size: 50px;
	color: var(--main-color);
}
.offer__box-contact-icon {
	animation: scale 2s infinite ease-in-out;
}
@media (min-width: 768px) {
	.offer-list__item {
		font-size: 25px;
		width: 48%;
	}
	.offer-list__item:hover,
	.offer-list__item:focus {
		transform: scale(1.2);
	}
}
